* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



.barra {
    background: #1877F2;
    height: 80px;
    width: 100%;
}


label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}


.barra ul {
    float: right;
    margin-right: 20px;
    margin-top: 0px;
}


.barra ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-top: 0px;
}


.barra ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0px;
}


a.active, a:hover {
    transition: .5s;
    text-decoration: none;
    background-image: linear-gradient(0, #5E9AF4, #5E9AF4);
    margin-top: 0px;
}


.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-top: 0px;
}


#check {
    display: none;
}


@media screen and (max-width: 952px) {
    .barra.label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .barra ul li a{
        font-size: 16px;
    }
}


@media screen and (max-width: 858px) {
    
    .checkbtn {
        display: block;
    }
}
.Banner{
    width: 100%;   

}
.TextoBanner {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    left: 720px;
    top: 300px;
    font-family: "Raleway", Sans-serif;
}
.FormContacto{
    width: 400px;
    height: 400px;
    margin-left: 0px;
    margin-top:100px;
    padding: 16px;
    font-family: "Raleway", Sans-serif;
    background-color: white;
    opacity: 70%;
    border-radius: 25px;
    
}
.TextoT{
    font-family: "Raleway", Sans-serif;
    color: #1877F2;
    margin-left: 120px;
    margin-top: 10px;
    font-weight: bold;
}
.TextoFono{
    font-family: "Raleway", Sans-serif;
    color: #1877F2;
    margin-left:148px;
    margin-top: 5px;
    font-weight: bold;
}
.TextoFono2{
    font-family: "Raleway", Sans-serif;
    color: #1877F2;
    margin-left: 128px;
    font-weight: bold;

    
}
.TextoMsg{
    font-family: "Raleway", Sans-serif;
    color: #1877F2;
    margin-left:152px;
    margin-top: 5px;
    font-weight: bold;
}
.TextoMsg2{
    font-family: "Raleway", Sans-serif;
    color: #1877F2;
    margin-left:90px;
    font-weight: bold;
    
}
.ImgUser{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-left: 140px;

}
.ImgFono{
    width: 40px;
    height: 40px;
    margin-left: 160px;
}
.ImgCorreo{
    width: 40px;
    height: 40px;
    margin-left: 160px;
}
form{
    width: 550px;
    height: 500px;
    margin: auto;
    padding: 16px;
    margin-top: 80px;
    font-family: "Raleway", Sans-serif;
}
form input[type="email"],
form input[type="password"],
form input[type="text"]{
    width: 350px;
    padding: 3px 10px;
    display: inline-block;
    border: #1877F2 2px solid;
    border-radius:28px;
    text-align: left;
    font-family: "Raleway", Sans-serif;
    margin-left: 300px;
    margin-top: 7px;

}
h2{
    color:white ;
    margin: 10px 300px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
textarea{
    display: inline-block;
    border: #1877F2 2px solid;
    border-radius:28px;
    padding: 3px 10px;

}
.BotonE{
width: 50%;
padding: 4px 15px;
display: block;
border: #1877F2 2px solid;
border-radius:28px;
background-color: #1877F2;
font-family: "Raleway", Sans-serif;
color: white;
margin-top: 20px;
margin-left:320px;
cursor: pointer;
background-image: linear-gradient(0, #5E9AF4, #5E9AF4);
background-size: 0;
transition: .8s;
text-decoration: none;
background-repeat: no-repeat;
}
.BotonE:hover{
    background-size: 100%;
    color: #fff;
    text-decoration: none;
}