* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* LETRAS DEL CUERPO */
body {
    font-family: montserratt;
}

/* COLOR Y TAMAÑO NAV CABECERA */
.barra {
    background: #1877F2;
    height: 80px;
    width: 100%;
}

/* DETALLES TITULO LOGO (MAIPO GRANDE) */
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

/* UBICACION DE LA LISTA UL */ 
.barra ul {
    float: right;
    margin-right: 20px;
}

/* DETALLES LISTA LI Y UBICACION EN LINEA DEL NAV EN CABECERA*/
.barra ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

/* DETALLES HIPERVINCULOS DE LISTAS */
.barra ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

/* INTERACCION CON LOS ELEMENTOS DE LA LISTA */
a.active, a:hover {
    background:  #1877F2;
    transition: .5s;
}

/* CLASS PARA DETALLES DEL ICONO DE BARRA DE MENU*/
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* ID CHECKBOX PARA QUE QUEDE "INVISIBLE" */
#check {
    display: none;
}

/* APLICAR DIFERENTES ESTILOS EN BASE A UNA CONSULTA (TAMAÑO) */
@media screen and (max-width: 952px) {
    .barra.label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .barra ul li a{
        font-size: 16px;
    }
}

/* APLICAR DIFERENTES ESTILOS EN BASE A UNA CONSULTA (TAMAÑO) */
@media screen and (max-width: 858px) {
    
    .checkbtn {
        display: block;
    }

    .barra ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #380B61;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .barra ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .barra ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }
}
form{
    width: 550px;
    height: 400px;
    margin: auto;
    padding: 16px;
    margin-top: 80px;
    font-family: "Raleway", Sans-serif;
    border: #D0D1D3 2px solid;
    border-radius: 25px;

}
form input[type="email"],
form input[type="password"]{
    width: 300px;
    padding: 3px 10px;
    margin: 10px 110px;
    display: inline-block;
    border: #1877F2 2px solid;
    border-radius:28px;
    text-align: center;
    font-family: "Raleway", Sans-serif;

}

.BotonIS{
    width: 50%;
    padding: 4px 15px;
    display: block;
    border: #1877F2 2px solid;
    border-radius:28px;
    background-color: #1877F2;
    font-family: "Raleway", Sans-serif;
    color: white;
    margin-left: 128px;
    margin-top:30px;
}
.BotonR{
    width: 50%;
    padding: 4px 15px;
    margin-top:50px;
    display: block;
    border: #1877F2 2px solid;
    border-radius:28px;
    background-color: #1877F2;
    font-family: "Raleway", Sans-serif;
    color: white;
    margin-left: 128px;
}

